/********* COLOUR PICKER *********/
.colourPicker{
    display: flex;
    width:100%;
    max-width: 1200px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: safe;
    margin: 20px;
    z-index: 9999;
    height: auto;
    background-color: var(--lightCol);
  }
  .cPList{
    display:none;
  }
  .colourList{
    display: hidden;
    flex-direction: column;
  }
  .pickerBtn{
    display:flex;
    background-image: url('../images/miniPicker.png');
    background-size: contain;
    border-style:solid;
    border-color: var(--borderCol);
    border-width:3px;
    border-radius:5%;
    width:56px;
    height:56px;
  }
  .listModal{
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color: var(--darkCol);
    margin-top:60px;
  }
  .anyColModal{
    /* position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lightCol);
    width: 100vw;
    height: 100vh;
  }
  .closeCols{
    font-family: 'League Spartan', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: var(--darkCol);
    text-shadow: 2px 2px 4px var(--whiteCol), -2px -2px 4px var(--whiteCol), -2px 2px 4px var(--whiteCol), 2px -2px 4px var(--whiteCol);
  }
  .closeCols:hover{
    color: var(--whiteCol);
    text-shadow: 2px 2px 4px var(--darkCol), -2px -2px 4px var(--darkCol), -2px 2px 4px var(--darkCol), 2px -2px 4px var(--darkCol);
  }
  .pickerList{
    margin:20px;
    width:56px;
  }
  #colourPicker{
    z-index: 9999;
  }
  .miniColPicker, .listBtn, .darkLight{
    border-style:solid;
    border-color: var(--borderCol);
    border-width:3px;
    border-radius: 5%;
    margin-bottom:10px;
  }
  
  .darkLight{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
  }
  .dark{
    background-color: var(--darkCol);
    width:25px;
    height: 50px;
  }
  .light{
    background-color: var(--lightCol);
    width:25px;
    height: 50px;
  }
  .darkLight:hover .dark{
    background-color: var(--lightCol);
  }
  .darkLight:hover .light{
    background-color: var(--darkCol);
  }

  @media screen and (max-width: 750px){
    .col1, .col2, .col3, .col4, .col5, .darkLight{
      width: 4vw;
      height: calc(4vw/5);
    }
    .dark, .light{
      width: 2vw;
    }
    .blueSet, .greenSet, .redSet, .orangeSet, .greySet, .darkLight, .miniColPicker, .listBtn, .darkLight, .dark, .light{
      height: 4vw;
      width:4vw;
    }
  }
  
@media screen and (max-width: 480px){
  .colourPicker{ display: none; }
  .cPList{ display:flex; flex-direction: column; align-items: center; justify-content: space-evenly; justify-self:center; }
  .listModal{ margin-top: 110px}
}
@media screen and (min-width: 481px) and (max-width: 768px){
  .colourPicker{ display: flex; }
  .cPList{ display:none; }
}
@media screen and (min-width: 769px){
  .colourPicker{ display: flex; }
  .cPList{ display:none; }
}