/********* COLOUR PICKER *********/
.colourPicker{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    margin-top: 1.5%;
    z-index: 9999;
    margin-bottom: 5px;
    background-color: var(--secondaryBG);
  }
  .cPList{
    display:none;
  }
  .colourList{
    display: hidden;
    flex-direction: column;
  }
  .pickerBtn{
    display:flex;
    background-image: url('../images/miniPicker.png');
    background-size: contain;
    border-style:solid;
    border-color: var(--borderCol);
    border-width:3px;
    border-radius:5%;
    width:35px;
    height:35px;
    margin-top: 5px;
  }
  .listModal{
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color: var(--secondaryBG);
    margin-top:60px;
  }
  .pickerList{
    margin:20px;
    width:56px;
  }
  #colourPicker{
    z-index: 9999;
  }
  .blueSet, .greenSet, .redSet, .orangeSet, .greySet, .darkLight, .miniColPicker, .listBtn{
    border-style:solid;
    border-color: var(--borderCol);
    border-width:3px;
    border-radius: 5%;
    margin-bottom:10px;
    z-index: 9999;
  }
  .col1{
    /* mainBG */
    background-color: #F7FFFF;                            
    height: 10px;
    width: 50px;
  }
  .col2{
    /* secondaryBG */
    background-color: #E2EBF1;
    height: 10px;
    width: 50px;
  }
  .col3{
    /* infoCol */
    background-color: #878896;
    height: 10px;
    width: 50px;
  }
  .col4{
    /* accentCol */
    background-color: #042AC1;
    height: 10px;
    width: 50px;
  }
  .col5{
    /* titleCol */
    background-color: #092271;
    height: 10px;
    width: 50px;
  }
  
  .blueSet:hover .col1{
    background-color: #092271;
  }
  .blueSet:hover .col2{
    background-color: #042AC1;
  }
  .blueSet:hover .col3{
    background-color: #CBC9DD;
  }
  .blueSet:hover .col4{
    background-color: #E2EBF1;
  }
  .blueSet:hover .col5{
    background-color: #F7FFFF;
  }
  
  .greenSet .col1{
    background-color: #F3FEEA;
  }
  .greenSet .col2{
    background-color: #CAE1C7;
  }
  .greenSet .col3{
    background-color: #8EB68A;
  }
  .greenSet .col4{
    background-color: #2E8831;
  }
  .greenSet .col5{
    background-color: #19671D;
  }

  .greenSet:hover .col1{
    background-color: #19671D;
  }
  .greenSet:hover .col2{
    background-color: #2E8831;
  }
  .greenSet:hover .col3{
    background-color: #8EB68A;
  }
  .greenSet:hover .col4{
    background-color: #CAE1C7;
  }
  .greenSet:hover .col5{
    background-color: #F3FEEA;
  }
  
  .redSet .col1{
    background-color: #FFF0EF;
  }
  .redSet .col2{
    background-color: #FFDDD5;
  }
  .redSet .col3{
    background-color: #C3806E;
  }
  .redSet .col4{
    background-color: #AB260C;
  }
  .redSet .col5{
    background-color: #8A130C;
  }
  
  
  .redSet:hover .col1{
    background-color: #8A130C;
  }
  .redSet:hover .col2{
    background-color: #AB260C;
  }
  .redSet:hover .col3{
    background-color: #C3806E;
  }
  .redSet:hover .col4{
    background-color: #FFDDD5;
  }
  .redSet:hover .col5{
    background-color: #FFF0EF;
  }
  
  .orangeSet .col1{
    background-color: #FFEFD1;
  }
  .orangeSet .col2{
    background-color: #EFD3AC;
  }
  .orangeSet .col3{
    background-color: #D5A677;
  }
  .orangeSet .col4{
    background-color: #DB7B1D;
  }
  .orangeSet .col5{
    background-color: #DB5816;
  }
  
  
  .orangeSet:hover .col1{
    background-color: #DB5816;
  }
  .orangeSet:hover .col2{
    background-color: #DB7B1D;
  }
  .orangeSet:hover .col3{
    background-color: #D5A677;
  }
  .orangeSet:hover .col4{
    background-color: #EFD3AC;
  }
  .orangeSet:hover .col5{
    background-color: #FFEFD1;
  }
  
  .greySet .col1{
    background-color: #F2F2F2;
  }
  .greySet .col2{
    background-color: #929292;
  }
  .greySet .col3{
    background-color: #616161;
  }
  .greySet .col4{
    background-color: #313131;
  }
  .greySet .col5{
    background-color: #000000;
  }
  
  
  .greySet:hover .col1{
    background-color: #000000;
  }
  .greySet:hover .col2{
    background-color: #313131;
  }
  .greySet:hover .col3{
    background-color: #616161;
  }
  .greySet:hover .col4{
    background-color: #929292;
  }
  .greySet:hover .col5{
    background-color: #F2F2F2;
  }
  
  .darkLight{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
  }
  .dark{
    background-color: var(--titleCol);
    width:25px;
    height: 50px;
  }
  .light{
    background-color: var(--secondaryBG);
    width:25px;
    height: 50px;
  }
  .darkLight:hover .dark{
    background-color: var(--secondaryBG);
  }
  .darkLight:hover .light{
    background-color: var(--titleCol);
  }

  @media screen and (max-width: 750px){
    .col1, .col2, .col3, .col4, .col5, .darkLight{
      width: 4vw;
      height: calc(4vw/5);
    }
    .dark, .light{
      width: 2vw;
    }
    .blueSet, .greenSet, .redSet, .orangeSet, .greySet, .darkLight, .miniColPicker, .listBtn, .darkLight, .dark, .light{
      height: 4vw;
      width:4vw;
    }
  }
  
@media screen and (max-width: 480px){
  .colourPicker{ display: none; }
  .cPList{ display:flex; flex-direction: column; align-items: center; justify-content: space-evenly; justify-self:center; }
}
@media screen and (min-width: 481px) and (max-width: 768px){
  .colourPicker{ display: flex; }
  .cPList{ display:none; }
}
@media screen and (min-width: 769px){
  .colourPicker{ display: flex; }
  .cPList{ display:none; }
}