/*******PORTFOLIO PAGE *********/
.portfolioPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.html, .python, .javascript{
    position: relative;
}
.topRow, .secondRow, .thirdRow{
    display: flex;
    justify-content: space-evenly;
}
.topRow{
    width: 50vw;
   margin-top: -150px;
   position:relative;
}
.secondRow{
    margin-top: 250px;
    position:relative;
}
.thirdRow{
    margin-top: 350px;
    position:relative;
}
.python{
    margin-left: -275px;
}
.html{
    margin-top: 20px;
    margin-left: 600px;
}
.javascript{
    margin-left:-200px;
}
.react{
    margin-top: 30px;
    margin-left: 150px;
}
.apis{
    margin-top: 20px;
}


.titleSphere{
    border-radius: 50%;
    box-shadow: -4px -3px 8px inset black, -4px 3px 8px inset black, 4px -3px 8px inset black, 4px 3px 8px inset black;
    background-color: var(--titleCol);
    width: 125px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-justify: center;
    position: absolute;
    top: 35vh;
    left: 25vw;
}
.group:hover .portImg{
    width:150px;
    height:150px;
}
.module{
    color: var(--secondaryBG);
    background: none;
    position:absolute;
    z-index: 999;
    align-self: center;
    width: 100px;
    white-space: wrap;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
}
.projectSphere1 {
    position: absolute;
    top: 42vh;
    left: 27vw;
    -webkit-animation: movingSphere 10s linear infinite; 
    -moz-animation: movingSphere 10s linear infinite; 
    -o-animation: movingSphere 10s linear infinite; 
    animation: movingSphere 10s linear infinite; 
  }
  .projectSphere1:hover{
    animation-play-state: paused;
  }
.projectSphere2 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 42vh;
    left: 27vw;
    animation-direction: alternate;
    -webkit-animation: movingSphere 10s linear -2s infinite; 
    -moz-animation: movingSphere 10s linear -2s infinite; 
    -o-animation: movingSphere 10s linear -2s infinite; 
    animation: movingSphere 10s linear -2s infinite; 
  }
  .projectSphere2:hover{
    animation-play-state: paused;
  }
  .projectSphere3 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 42vh;
    left: 27vw;
    -webkit-animation: movingSphere 10s linear -4s infinite; 
    -moz-animation: movingSphere 10s linear -4s infinite; 
    -o-animation: movingSphere 10s linear -4s infinite; 
    animation: movingSphere 10s linear -4s infinite; 
  }
  .projectSphere3:hover{
    animation-play-state: paused;
  }
  
  @keyframes movingSphere {
    from { transform: rotate(0deg) translateX(160px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(160px) rotate(-360deg); }
  }
  @-o-keyframes movingSphere {
    from { transform: rotate(0deg) translateX(160px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(160px) rotate(-360deg); }
  }
  @-moz-keyframes movingSphere {
    from { transform: rotate(0deg) translateX(160px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(160px) rotate(-360deg); }
  }
  @-webkit-keyframes movingSphere {
    from { transform: rotate(0deg) translateX(160px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(160px) rotate(-360deg); }
  }
/************** PORTFOLIO COMPONENT ************/
.mainDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hoverDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
}

.projectNameDiv{
    position:absolute;
    background: none;
    z-index:9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.projectName{
    color: var(--secondaryBG);
    font-size: 20px;
}
.modalIframe{
    scale: 0.6;
    margin-top: -150px;
}
.previewWindow{
    height: 100vh;
    width: 100vw;
}
.portImg{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.portImg:hover{
    animation: pictureExpansion 1s;
    animation-fill-mode: forwards;
}
.portfolioModal{
    position:absolute;
    margin: 10vw;
}
@keyframes pictureExpansion {
    from {
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
    to {
        border-radius: 8%;
        height: 150px;
        width: 150px;
    }
  }