/******** RAINBOW *********/
.rainbow{
  display: flex;
  width: 14vw;
  height:6vh;
  padding:1.5vw;
  font-size: 1.5vw;
  font-weight: 300;
  align-self: center;
  justify-self: center;
}
@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
  }
  @keyframes logoFadeIn{
    0% { opacity:0 }
    75% { opacity:0 }
    100% { opacity:1 }
  }
@keyframes shrinkRelocate{
  0% {  transform: translateY(0) scale(0.5); }
  100% {  transform: translateY(-48vh)  scale(0.1); }
}
@keyframes counterShrink{
  0% { transform: translateY(0) }
  100% { transform: translateY(50vh) }
}
@keyframes relocate{
  0% {  transform: translateY(0); }
  100% {  transform: translateY(-65vh); }
}
@keyframes fadeout {
  from {opacity: 1}
  to {opacity: 0}
}


 