/********* MODAL *********/
.pMBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18vw;
    height: 18vw;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    margin: 15px;
    background-color: var(--infoCol);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--contrastCol);
}
.btnText{
    margin-top: -12px;
}
.pMBtn:hover .btnText{
    animation: counterSpin 2.5s infinite linear;
}
.pMBtn:hover{
    background-color: var(--contrastCol);
    color: var(--infoCol);
    font-weight: 900;
    animation: spin 2.5s infinite linear;
}
.smallPortDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.htmlDiv{
    display:flex;
    position:absolute;
    left: 10%;
    top:48%;
}
.javaDiv{
    display: flex;
    position:absolute;
    right: 10%;
    top:48%;
}
.apiDiv{
    display: flex;
    position:absolute;
    top:70%;
}
.pythonDiv{
    display: flex;
    position:absolute;
    top: 25%;
    left:22%;
}
.reactDiv{
    display:flex;
    position: absolute;
    top: 25%;
    right:22%;
}
.portfolioModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--lightCol);
}


/********* HTML *********/


/********* JAVASCRIPT *********/


/********* PYTHON *********/


/********* REACT *********/


/********* API *********/


/********* MASTER COMPONENT *********/


@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
  }
@keyframes counterSpin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(-360deg); }
  }