/* ********  Portfolio Element ********
.modalBody{
    width: 80vw;
    height: 70vh;
    margin-top: 25vh;
    margin-left: 10vw;
    background-color: var(--lightCol);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modalTitle{
    font-family: 'Geologica', sans-serif;
    font-weight: 500;
    font-variation-settings: 'CRSV' 1;
    font-variation-settings: 'SHRP' 100; 
    background-image: linear-gradient(135deg, #FF0000 20%, #ff009d 35%, #0033ff 45%, #00fbff 50%, #1aff00 70%, #ffe100 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: 3px;
    color: var(--infoCol);
    font-size:40px;
    display:flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    letter-spacing: 4px;
    margin-top: 5px;
}
.preview{
    display: flex;
    justify-self: center;
    align-self: center;
}
.modalUrl, .modalURLLink{
    text-decoration: none;
    color: var(--contrastCol);
    display:flex;
    justify-content: center;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.modalURLLink:hover{
    color: var(--mainCol)
}

svg text {
	animation: stroke 8s infinite alternate;
    -moz-animation: stroke 8s infinite alternate;
    -webkit-animation: stroke 8s infinite alternate;
	font-size: 6.5vmin;
    font-weight: 800;
    background: transparent;
}
@keyframes stroke {
	0% {fill: var(--borderCol); stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 1;}
	100% {fill: var(--whiteCol); stroke-dashoffset: 0%; stroke-dasharray: 50% 0; stroke-width: 4;}
}
@-moz-keyframes stroke {
	0% {fill: var(--borderCol); stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 1;}
	100% {fill: var(--whiteCol); stroke-dashoffset: 0%; stroke-dasharray: 50% 0; stroke-width: 4;}
}
@-webkit-keyframes stroke {
	0% {fill: var(--borderCol); stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 1;}
	100% {fill: var(--whiteCol); stroke-dashoffset: 0%; stroke-dasharray: 50% 0; stroke-width: 4;}
} */
