/********* FONTS *********/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
/********* COLOUR VARIABLES *********/
:root{
    --mainBG: #FFFFFF;
    --secondaryBG: #FF6400;
    --pauseBG: #9A582C;
    --gameBG: #A7796A;
    --titleCol: #3046CF;
    --labelCol: #FF9154;
    --infoCol: #FAA75D;
    --bgOpp: #000000;
}
.mainDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hoverDiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
}

.projectNameDiv{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.projectName{
    color: white;
}
.modalIframe{
    scale: 0.6;
    margin-top: -150px;
}
.previewWindow{
    height: 100vh;
    width: 100vw;
}
.portImg{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.portImg:hover{
    animation: pictureExpansion 1s;
    animation-fill-mode: forwards;
}
.portfolioModal{
    position:absolute;
    margin: 10vw;
}
@keyframes pictureExpansion {
    from {
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
    to {
        border-radius: 8%;
        height: 150px;
        width: 150px;
    }
  }
