/********* FONTS *********/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV,SHRP@100,0.5,0;500,0.5,100;750,0.5,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/********* COLOUR VARIABLES *********/
:root{
    --mainBG: #F7FFFF;
    --secondaryBG: #E2EBF1;
    --infoCol: #878896;
    --accentCol: #042AC1;
    --titleCol: #092271;
    --njtdLogoGif: '../../images/njtdesign/blue.gif';
    --njtdLogoPng: '../../images/njtdesign/blue.png';
  }

  /*********  NATHAN COMPONENT CSS *********/
.boxContent{
    display: flex;
    font-family: 'Poppins', sans-serif;
    background: none;
    width: fit-content;
    /* height:6vh; */
    padding:5px;
    font-size: 1.5vw;
    font-weight: 400;
    /* align-self: center;
    justify-self: center; */
    animation: box 20s, fontGrow 10s;
    animation-fill-mode: forwards, forwards;
    animation-delay: 2s, 2s;
    margin-left: 5vw;
    text-align:center;
}
/*********  ABOUT TEXT CSS  *********/
.thanks{
    margin-top: -1vh;
    animation: fontGrow 2s linear;
    animation-fill-mode: forwards;
    animation-delay: 20s;
}
.aboutBottom{
    width: 75vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity:0;
    animation: bottomFadeIn 3s;
    animation-delay: 20s;
    animation-fill-mode: forwards;
}

/*********  MORE COMPONENT CSS  *********/
.moreInfo{
    width: 75vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    font-size: 1.5vw;
}

.moreBtn{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-justify: center;
    font-size: 3.5vw;
    font-weight:500;
    color: var(--secondaryBG);
    background-color: var(--titleCol);
    border-radius: 20px;
    border: none;
}

/********* NJTDESIGN LOGO  *********/
.njtdLogo{
    max-width:300px;
    max-height:300px;
    margin-top: 18vh;
}
.designLogoGif{
    background-image: var(--njtdLogoGif);
    background-size:contain;
    background-repeat: no-repeat;
    width:5vw;
    height:5vw;
    max-width:300px;
    max-height:300px;
    min-width:100px;
    min-height:100px;
    width:50vw;
    height:50vw;
    /* margin-top: 18vh; */
}
.designLogoPng{
    background-image: var(--njtdLogoPng);
    background-size:contain;
    background-repeat: no-repeat;
    max-width:300px;
    max-height:300px;
    min-width:100px;
    min-height:100px;
    width:50vw;
    height:50vw;
    /* margin-top: 18vh; */
}

/********* KEYFRAMES  *********/
@keyframes fontGrow {
    from {font-size: 1.5vw; font-weight:400}
    to {font-size: 3.5vw; font-weight:700}
}
@keyframes box{
    0% {border: none}
    30%{border-top: 0.5vh solid black}
    32%{border-top: 0.5vh solid black; border-right: 0.5vh solid black}
    34%{border-top: 0.5vh solid black; border-right: 0.5vh solid black;  border-bottom: 0.5vh solid black} 
    36%{border-top: 0.5vh solid black; border-right: 0.5vh solid black;  border-bottom: 0.5vh solid black; border-left: 0.5vh solid black;}
    80%{border: 0.5vh solid rgb(240, 106, 128); border-radius: 12px;}
    82%{border: 8px dashed silver; border-radius: 12px;}
    85%{border: 8px solid rgb(240, 106, 128); border-radius: 12px;}
    88%{border: 8px dashed silver; border-radius: 12px;}
    98%{border: 8px dashed silver; border-radius: 12px;}
    99.99999% { background: none;}
    100% {
        background-image: linear-gradient(135deg, rgb(240, 106, 128) 50%, silver 50%), linear-gradient(-45deg, rgb(240, 106, 128)50%, silver 50%), linear-gradient(-45deg, rgb(240, 106, 128) 50%, silver 50%), linear-gradient(-45deg, rgb(240, 106, 128) 50%, silver 50%);
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 2vw 0.5vh, 2vw 0.5vh, 0.5vh 2vw, 0.5vh 2vw;
        }
}
@keyframes bottomFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
