/********* FONTS *********/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
/********* COLOUR VARIABLES *********/
:root{
    --mainBG: #D6D7DC;
    --secondaryBG: #9B9CA1;
    --accentCol: #ca9206;
    --titleCol: #011039;
    --labelCol: #E4D094;
    --infoCol: #0A0A0C;
}
/***********HOMEPAGE **********/
.home{
    background-color: white;
}
.portfolioTitle{
    font-size: 60px;
    font-family: 'League Spartan', sans-serif;
    margin-top: -20px
}
.portfolioPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolioPageHex{
    margin-top: 200px;
}
  /********* ABOUT ME *********/
.njTitle{
    font-size: 40px;
    font-family: 'League Spartan', sans-serif;
}
.aboutMe{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: light;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boxContent{
    font-size: 18px;
    animation: fontGrow 5s linear;
}
@keyframes fontGrow {
    from {font-size: 18px}
    to {font-size: 22px}
}
