/********* FONTS *********/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV,SHRP@100,0.5,0;500,0.5,100;750,0.5,100&display=swap');
/* font-family: 'Geologica', sans-serif;
font-weight: 750;
font-variation-settings: 'wght' 750;
font-variation-settings: 'CRSV' 0.5;
font-variation-settings:  'SHRP' 100; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/********* COLOUR VARIABLES *********/
:root{
    --mainBG: #F7FFFF;
    --secondaryBG: #E2EBF1;
    --infoCol: #C8C9DD;
    --accentCol: #042AC1;
    --titleCol: #092271;
  }
/***********HOMEPAGE **********/
.home{
    background-color: var(--mainBG);
}
/***********PORTFOLIO PAGE **********/
.portfolioTitle{
    font-size: 4.5vw;
    font-family: 'League Spartan', sans-serif;
    color: var(--titleCol);
    margin-bottom: 10%;
    position: absolute;
    right:0;
    left:0;
}
.portfolioPage{
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    align-items: center;
    background-color: var(--mainBG);
}
  /********* ABOUT ME *********/
  .njCodes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.njTitle{
    font-size: 5.5vw;
    font-family: 'Geologica', sans-serif;
    font-weight: 425;
    font-variation-settings: 'wght' 750;
    font-variation-settings: 'CRSV' 0.5;
    font-variation-settings:  'SHRP' 100;
    color: var(--titleCol);
}
.aboutMe{
    font-family: 'Poppins', sans-serif;
    font-weight:300;
    font-size: 2vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--mainBG);
}
.aboutTop{
    display: flex;
    flex-direction: column;
    width:80vw;
}
.aboutTopLeft{
    align-self: flex-start;
    width: 10vw;   
    margin-left: 16vw;
}
.boxContent{
    background: none;
    width: 14vw;
    height:6vh;
    padding:1.5vw;
    font-size: 2.5vw;
    font-weight: bold;
    align-self: center;
    justify-self: center;
    animation: box 20s, fontGrow 10s;
    animation-delay: 5s, 5s;
    animation-fill-mode: forwards, forwards;
    margin-left: 13vw;
}
.active-animation{
    /* top, bot, left, right */
    padding:1.5vw;
    font-size: 3.5vw;
    background-image: linear-gradient(45deg, rgb(240, 106, 128) 50%, silver 50%), linear-gradient(45deg, rgb(240, 106, 128)50%, silver 50%), linear-gradient(45deg, rgb(240, 106, 128) 50%, silver 50%), linear-gradient(45deg, rgb(240, 106, 128) 50%, silver 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 2vw 0.5vh, 2vw 0.5vh, 0.5vh 2vw, 0.5vh 2vw;
    background-position: left top, right bottom, left bottom, right top;
    animation: border-dance 1s infinite linear;
}

.aboutTopMiddle{
    display:flex;
    align-self: center;
}
.aboutTopRight{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.thanks{
    margin-top: -1vh;
    animation: fontGrow 2s linear;
    animation-fill-mode: forwards;
    animation-delay: 25s;
}
.aboutBottom{
    width: 75vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity:0;
    animation: bottomFadeIn 3s;
    animation-delay: 26s;
    animation-fill-mode: forwards;
}

@keyframes fontGrow {
    from {font-size: 1.5vw; font-weight:300}
    to {font-size: 3.5vw; font-weight:700}
}
@keyframes box{
    0% {border: none}
    30%{border-top: 0.5vh solid black}
    32%{border-top: 0.5vh solid black; border-right: 0.5vh solid black}
    34%{border-top: 0.5vh solid black; border-right: 0.5vh solid black;  border-bottom: 0.5vh solid black} 
    36%{border-top: 0.5vh solid black; border-right: 0.5vh solid black;  border-bottom: 0.5vh solid black; border-left: 0.5vh solid black;}
    80%{border-top: 0.5vh solid rgb(240, 106, 128); border-right: 0.5vh solid rgb(240, 106, 128);  border-bottom: 0.5vh solid rgb(240, 106, 128); border-left: 0.5vh solid rgb(240, 106, 128);}
    82%{border-top: 0.5vh dashed silver; border-right: 0.5vh dashed silver;  border-bottom: 0.5vh dashed silver; border-left: 0.5vh dashed silver;}
    85%{border-top: 0.5vh solid rgb(240, 106, 128); border-right: 0.5vh solid rgb(240, 106, 128);  border-bottom: 0.5vh solid rgb(240, 106, 128); border-left: 0.5vh solid rgb(240, 106, 128);}
    88%{border-top: 0.5vh dashed silver; border-right: 0.5vh dashed silver;  border-bottom: 0.5vh dashed silver; border-left: 0.5vh dashed silver;}
    95%{border-top: 0.5vh dashed rgb(240, 106, 128); border-right: 0.5vh dashed rgb(240, 106, 128);  border-bottom: 0.5vh dashed rgb(240, 106, 128); border-left: 0.5vh dashed rgb(240, 106, 128);}
    98%{border-top: 0.5vh dashed silver; border-right: 0.5vh dashed silver;  border-bottom: 0.5vh dashed silver; border-left: 0.5vh dashed silver;}
    99.99999% { background: none;}
    100% {
        background-image: linear-gradient(135deg, rgb(240, 106, 128) 50%, silver 50%), linear-gradient(-45deg, rgb(240, 106, 128)50%, silver 50%), linear-gradient(-45deg, rgb(240, 106, 128) 50%, silver 50%), linear-gradient(-45deg, rgb(240, 106, 128) 50%, silver 50%);
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 2vw 0.5vh, 2vw 0.5vh, 0.5vh 2vw, 0.5vh 2vw;
        }
}
@keyframes bottomFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes border-dance {
    0% { background-position: left top, right bottom, left bottom, right top; }
    100% { background-position: left 2vw top, right 2vw bottom , left bottom 2vw , right top 2vw; }
}
  /*************** HMUA ****************/
  .hmuaPage{
    height: 100vh;
    background-color: var(--mainBG);
    font-family: 'Raleway', sans-serif;
  }
  .hmuaTitle{
    font-size: 4.8vw;
    font-family: 'League Spartan', sans-serif;
    color: var(--titleCol);
  }
  .hmuaContent, .hmuaImages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div.scroll-container {
    background-color: var(--infoCol);
    overflow: auto;
    white-space: nowrap;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
    width:95vw;
    border: 0.6vw solid var(--infoCol);
}
  .slide{
    max-width: 100%;
    min-height: 100%;
    padding: 0.5vh;
    max-height: 65vh;
}
.vogue{
    margin-bottom: 3vh;                                                                                                                                     
}