

.text{
    width: fit-content;
    font-family: 'League Spartan', sans-serif;
    display:flex;
    stroke-dashoffset: 1750; stroke-dasharray: 1750; 
	font-size: 1.5vmax;
    stroke-width: 0.15vmax;
    fill: transparent;
    background-color: var(--blackCol);
}
.text1{
    animation-delay: 3s;
}
svg {
    display: flex;
	width: 100vw;
    height: 100vh; 
    background-color: var(--blackCol);
}
