/********* NAVBAR *********/
.navbar{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navFirst{
  position:fixed;
  top:0;
  width: 100%;
  padding-top:2vh;
  z-index: 999999;
  max-width: 1200px;
  height: 105px; 
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(3, 35px);
  background-color: var(--secondaryBG);
}
.navColours{
  display: flex;
  align-items:safe;
  justify-content: space-evenly;
  margin-top: 105px;
  width: 100%;
  max-width: 1200px;
}
.navGap{
    grid-column: 1/12;
    grid-row: 1/2;
}
.navHome{
  grid-column: 2/3;
  grid-row: 2/4;
}
.navAbout{
  grid-column: 4/5;
  grid-row: 2/4;
}
.navLogo{
  grid-column: 6/7;
  grid-row: 1/4;
}
.navbarLogo{
  width: 10vmax;
  height: 10vmax;
}
.navbarLogo:hover{
  scale: 1.1
}
.navCV{
  grid-column: 8/9;
  grid-row: 2/4;
}
.navPortfolio{
  grid-column: 10/11;
  grid-row: 2/4;
}
.navOptions{
    grid-column: 9/12;
    grid-row: 3/4;
}
.navOptions2{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
}
.navDeveloper{
    grid-column: 1/2;
}
.navHMUA{
    grid-column: 3/4;
}
.page{
  font-size: 3vmin;
  font-family: 'League Spartan', sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: var(--infoCol)
}
.current{
  font-size: 4vmin;
  font-family: 'League Spartan', sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: var(--accentCol);
}
.page:hover, .current:hover{
  color: var(--accentCol);    
}
  
/********* FOOTER *********/
.footer{
  width: 100%;
  max-width: 1200px;
  height: 120px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: var(--secondaryBG);
  color: var(--infoCol);
}
.footerImgDiv{
  grid-column: 2/3;
  grid-row: 2/4;
}
.footerLogo{
  width: 110px;
  height: 110px ;
}
.footerText{
  grid-column: 3/6;
  grid-row: 2/3;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 1.8vmin;
  font-family: 'Raleway', sans-serif;
  font-weight:600;
  line-height: 2px;
  white-space: nowrap;
  text-align:center;
}
.github{
    text-decoration: none;
    color: var(--titleCol);
    font-size: 1.9vmin;
    font-family: 'Raleway', sans-serif;
    font-weight:600;
    line-height: 2px;
}
.github:hover{
    text-decoration: none;  
    color: var(--accentCol);
}
.footPrivacy{
  grid-column: 3/4;
  grid-row: 3/4;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
}
.footTerms{
  grid-column: 5/6;
  grid-row: 3/4;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px){
  .footerText{ font-size: 10px; line-height: 4px; white-space: nowrap; }
  .footerLogo{ width: 65px; height: 65px; }
}
@media screen and (max-width: 480px){
  .page{ margin-left:15px; margin-top:16.5px; font-size: 3.3vw; }
  .current{ margin:10px; margin-top: 15px; font-size: 4vw; }
  .navLeft{ margin-left:-30px; margin-right: -10px;}
  .navRight{ margin-left:40px; margin-right: -30px;}
  .navColours{ height:50px}
  .navbar{width: 100vw}
  .navFirst{width: 100vw}
}