/********* FONTS *********/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
/********* COLOUR VARIABLES *********/
:root{
  --mainBG: #D6D7DC;
  --secondaryBG: #9B9CA1;
  --accentCol: #CA9206;
  --titleCol: #011039;
  --labelCol: #EAB42C;
  --infoCol: #0A0A0C;
}
.mainDiv {
    --s: 150px; /* control the size */
    --g: 10px;  /* control the gap */
    display: grid;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
  .mainDiv > .child {
    grid-area: 1/1;
    width: var(--s);
    aspect-ratio: 1.15;
    object-fit: cover;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50% ,75% 100%, 25% 100%, 0 50%);
    transform: translate(var(--_x,0), var(--_y,0));
    background-color: var(--labelCol);
    color: var(--mainBG);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mainDiv > .child:nth-child(1) { --_y: calc(-100% - var(--g));  --_x: calc(-281% - (var(--g)*6.5))}
  .mainDiv > .child:nth-child(2) { --_x: calc(-281% - (var(--g)*6.5))}
  .mainDiv > .child:nth-child(3) { --_y: calc(100% + var(--g));  --_x: calc(-281% - (var(--g)*6.5))}
  .mainDiv > .child:nth-child(4) { --_y: calc(-50% - .5*var(--g));  --_x: calc(-200% - (var(--g)*6.5))}
  .mainDiv > .child:nth-child(5) { --_y: calc(50% + .5*var(--g));  --_x: calc(-200% - (var(--g)*6.5))}
  .mainDiv > .child:nth-child(6) { --_y: calc(-100% - var(--g)); --_x: calc(-150% - (var(--g)*1.8))}
  .mainDiv > .child:nth-child(7) { --_x: calc(-150% - (var(--g)*1.8))}
  .mainDiv > .child:nth-child(8) { --_y: calc( 100% + var(--g)); --_x: calc(-150% - (var(--g)*1.8))}
  .mainDiv > .child:nth-child(9) { --_x: calc(-75% - .87*var(--g)); --_y: calc(-50% - .5*var(--g))}
  .mainDiv > .child:nth-child(10) { --_x: calc(-75% - .87*var(--g)); --_y: calc( 50% + .5*var(--g));}
  .mainDiv > .child:nth-child(11) { --_y: calc(-100% - var(--g)); }
  /* .mainDiv > .child:nth-child(12) { } */
  .mainDiv > .child:nth-child(13) { --_y: calc( 100% + var(--g)); }
  .mainDiv > .child:nth-child(14) { --_x: calc( 75% + .87*var(--g));  --_y: calc(-50% - .5*var(--g));}
  .mainDiv > .child:nth-child(15) { --_x: calc( 75% + .87*var(--g)); --_y: calc( 50% + .5*var(--g));}
  .mainDiv > .child:nth-child(16) { --_y: calc(-100% - var(--g)); --_x: calc(150% + (var(--g)*1.8))}
  .mainDiv > .child:nth-child(17) { --_x: calc(150% + (var(--g)*1.8))}
  .mainDiv > .child:nth-child(18) { --_y: calc(100% + var(--g)); --_x: calc(150% + (var(--g)*1.8))}
  .mainDiv > .child:nth-child(19) { --_y: calc(-50% - .5*var(--g));  --_x: calc(200% + (var(--g)*6.5))}
  .mainDiv > .child:nth-child(20) { --_y: calc(50% + .5*var(--g));  --_x: calc(200% + (var(--g)*6.5))}
  .mainDiv > .child:nth-child(21) { --_y: calc(-100% - var(--g));  --_x: calc(281% + (var(--g)*6.5))}
  .mainDiv > .child:nth-child(22) { --_x: calc(281% + (var(--g)*6.5))}
  .mainDiv > .child:nth-child(23) { --_y: calc(100% + var(--g));  --_x: calc(281% + (var(--g)*6.5))}

  .child:hover{
    font-weight: bolder;
    background-color: var(--accentCol);
    color: var(--secondaryBG);
  }
  #unit:hover{
    font-weight: bolder;
    background-color: var(--titleCol);
    color: var(--accentCol);
  }
  
  