/********* FONTS *********/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV,SHRP@100,0.5,0;500,0.5,100;750,0.5,100&display=swap');
/* font-family: 'Geologica', sans-serif;
font-weight: 750;
font-variation-settings: 'wght' 750;
font-variation-settings: 'CRSV' 0.5;
font-variation-settings:  'SHRP' 100; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/********* COLOUR VARIABLES *********/
:root{
  --mainBG: #F7FFFF;
  --secondaryBG: #E2EBF1;
  --infoCol: #C8C9DD;
  --accentCol: #042AC1;
  --titleCol: #092271;
  --borderCol: #000000;
}
body{
    background-color: var(--mainBG);
}

/********* NAVBAR *********/
.NavbarMain{
    height: 12.5vh;
    width:100vw;
    position: absolute;
}
.Navbar{
    display: flex;
    flex-direction: column;
    height: 11vh;
    background-color: var(--secondaryBG);
    width: 100vw;
    position: absolute;
}
.firstNav{
  display:flex;
  flex-direction: row;
  padding-top: 1.5vh;
  justify-content: space-evenly;
}
.navLeft, .navRight{
  display: flex;
  margin-left: 3vw;
  margin-right: 3vw;
}
.page{
  margin: 15px;
  margin-top: 14px;
  font-size: 2.3vw;
  font-family: 'League Spartan', sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: var(--infoCol)
}
.current{
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 8px;  
  font-size: 3vw;
  font-family: 'League Spartan', sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: var(--accentCol);
}
.page:hover, .current:hover{
  color: var(--accentCol);    
}

/********* SMALL LOGO IN NAVBAR *********/
.miniLogoDiv{
  position:absolute;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top:0;
  margin-top: -10px;
  height:100px;
  /* width:100vw; */
}
.logoStill{
  width: 95px;
  height: 95px;
  align-self: center;
  opacity:1;
}
.miniLogoLink{
  display:flex;
}

/********* PORTFOLIO *********/
.portfolioOptions{
  width: fit-content;
  margin-left: 68vw;
  background-color: var(--secondaryBG);
  margin-top:-10px;
}


/********* INTRO *********/
.intro{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logoAnimation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:relative;
}
.logoImg{
  margin-top: 20vh;
  width: 800px;
  height: 800px;
  display:flex;
  align-self: center;
  justify-self: center;
  transform: scale(0.5);
  animation: shrinkRelocate 6s, fadeout 2s;
  animation-delay: 8s, 15s;
  animation-fill-mode: forwards;
}
.introText{
    margin-top: -15vh;
    animation: fadeout 4s;
    animation-delay: 14s;
    animation-fill-mode: forwards;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: relocate 5s;
    animation-delay: 8s;
}
.brought{
    animation: fadein 10s;
    margin-top: -6.5vh;
    font-family: 'League Spartan', sans-serif;
    font-weight: 900;
    font-size: 4vw;
    display:flex;
}
.njcodes{
    display: flex;
    animation: fadein 10s;
    animation-delay: 5s;
    opacity: 0;
    animation-fill-mode: forwards;
    font-family: 'League Spartan', sans-serif;
    font-weight: 900;
    font-size: 5.5vw;
    margin-top: -5vh;
}

/******** RAINBOW *********/
.rainbow_{
  display: flex;
  width: 14vw;
  height:6vh;
  padding:1.5vw;
  font-size: 1.5vw;
  font-weight: 300;
  align-self: center;
  justify-self: center;
}
@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
  }
  @keyframes logoFadeIn{
    0% { opacity:0 }
    75% { opacity:0 }
    100% { opacity:1 }
  }
@keyframes shrinkRelocate{
  0% {  transform: translateY(0) scale(0.5); }
  100% {  transform: translateY(-48vh)  scale(0.1); }
}
@keyframes counterShrink{
  0% { transform: translateY(0) }
  100% { transform: translateY(50vh) }
}
@keyframes relocate{
  0% {  transform: translateY(0); }
  100% {  transform: translateY(-65vh); }
}
@keyframes fadeout {
  from {opacity: 1}
  to {opacity: 0}
}
  
/********* FOOTER *********/
.footerDiv{
    display: flex;
    flex-direction: column;
    width: 100vw;
    color: var(--infoCol);
    position:fixed;
    bottom: 0;
    z-index: 99;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    margin-top: 100vh;
    background-color: var(--secondaryBG);
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: flex-end;
    align-items: center;
}
.footerImgDiv{
    margin: 20px;
}
.footerLogo{
    width:80px;
    height: 80px;
    margin-bottom: -20px;
}
.footerText{
    font-size: 1.5vw;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    line-height: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--infoCol);
}
.github{
    text-decoration: none;
    color: var(--infoCol);
}
.github:hover{
    text-decoration: none;  
    color: var(--accentCol);
}

@media screen and (max-width: 600px){
  .footerText{ font-size: 10px; line-height: 4px; white-space: nowrap; }
  .footerLogo{ width: 65px; height: 65px; }
}
@media screen and (max-width: 480px){
  .logoImg{ width: 500px; height:500px; margin-top:0; }
  .introAnimation{ margin-top:0; }
  .brought{ margin-top:5vh; }
  .njcodes{ margin-top:0; }
  .introText{ animation: none; }
  .page{ margin-left:10px; margin-top:16.5px; font-size: 3.3vw; }
  .current{ margin:10px; margin-top: 15px; font-size: 4vw; }
  .navLeft, .navRight{ margin-left:-40px; margin-right: -10px;}
  /* .navBar{ height: ## } */
  .colourPicker{ display: none; }
  .cPList{ display:flex; flex-direction: column; align-items: center; justify-content: space-evenly; justify-self:center; }
}
@media screen and (min-width: 481px) and (max-width: 768px){
  .logoImg{ width: 500px; height:500px; margin-top:0; }
  .introAnimation{ margin-top:-20vh; }
  .brought{ margin-top:-3.5vh; }
  .njcodes{ margin-top:-1.5vh; }
  .introText{ animation: none; }
  /* .page{ margin-left:5px; } */
  /* .current{ margin-left:5px; } */
  /* .navBar{ height: ## } */
  .colourPicker{ display: flex; }
  .cPList{ display:none; }
}
@media screen and (min-width: 769px){
  .logoImg{ width: 1000px; height:1000px; margin-top:-20vh; }
  .introAnimation{ margin-top:-40vh; }
  .brought{ margin-top:-6.5vh; }
  .njcodes{ margin-top:-5vh; }
  /* .page{ margin-left:5px; } */
  /* .current{ margin-left:5px; } */
  /* .navBar{ height: ## } */
  .colourPicker{ display: flex; }
  .cPList{ display:none; }
}