/********* FONTS *********/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV,SHRP@100,0.5,0;500,0.5,100;750,0.5,100&display=swap');
/* font-family: 'Geologica', sans-serif;
font-weight: 750;
font-variation-settings: 'wght' 750;
font-variation-settings: 'CRSV' 0.5;
font-variation-settings:  'SHRP' 100; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/********* COLOUR VARIABLES *********/
:root{
  --mainBG: #F7FFFF;
  --secondaryBG: #E2EBF1;
  --infoCol: #C8C9DD;
  --accentCol: #042AC1;
  --titleCol: #092271;
  --borderCol: #000000;
}
body{
    background-color: var(--mainBG);
}
/********* COLOUR PICKER *********/
.colourPicker{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
  margin-top: -1%;
}
.cPList{
  display:none;
}
.colourList{
  display: hidden;
  flex-direction: column;
}
.pickerBtn{
  display:flex;
  background-image: url('./images/miniPicker.png');
  background-size: contain;
  border-style:solid;
  border-color: var(--borderCol);
  border-width:3px;
  border-radius:5%;
  width:50px;
  height:50px;
}
.listModal{
  display:flex;
  flex-direction:column;
  align-items: center;
  background-color: var(--secondaryBG);
}
.pickerList{
  margin:20px;
  width:56px;
}

.blueSet, .greenSet, .redSet, .orangeSet, .greySet, .darkLight, .miniColPicker, .listBtn{
  border-style:solid;
  border-color: var(--borderCol);
  border-width:3px;
  border-radius: 5%;
  margin-bottom:10px;
}
.col1{
  /* mainBG */
  background-color: #F7FFFF;                            
  height: 10px;
  width: 50px;
}
.col2{
  /* secondaryBG */
  background-color: #E2EBF1;
  height: 10px;
  width: 50px;
}
.col3{
  /* infoCol */
  background-color: #C8C9DD;
  height: 10px;
  width: 50px;
}
.col4{
  /* accentCol */
  background-color: #042AC1;
  height: 10px;
  width: 50px;
}
.col5{
  /* titleCol */
  background-color: #092271;
  height: 10px;
  width: 50px;
}

.blueSet:hover .col1{
  background-color: #092271;
}
.blueSet:hover .col2{
  background-color: #042AC1;
}
.blueSet:hover .col3{
  background-color: #CBC9DD;
}
.blueSet:hover .col4{
  background-color: #E2EBF1;
}
.blueSet:hover .col5{
  background-color: #F7FFFF;
}

.greenSet .col1{
  background-color: #F3FEEA;
}
.greenSet .col2{
  background-color: #CAE1C7;
}
.greenSet .col3{
  background-color: #8EB68A;
}
.greenSet .col4{
  background-color: #2E8831;
}
.greenSet .col5{
  background-color: #19671D;
}

.greenSet:hover .col1{
  background-color: #19671D;
}
.greenSet:hover .col2{
  background-color: #2E8831;
}
.greenSet:hover .col3{
  background-color: #8EB68A;
}
.greenSet:hover .col4{
  background-color: #CAE1C7;
}
.greenSet:hover .col5{
  background-color: #F3FEEA;
}


.redSet .col1{
  background-color: #FFF0EF;
}
.redSet .col2{
  background-color: #FFDDD5;
}
.redSet .col3{
  background-color: #C3806E;
}
.redSet .col4{
  background-color: #AB260C;
}
.redSet .col5{
  background-color: #8A130C;
}


.redSet:hover .col1{
  background-color: #8A130C;
}
.redSet:hover .col2{
  background-color: #AB260C;
}
.redSet:hover .col3{
  background-color: #C3806E;
}
.redSet:hover .col4{
  background-color: #FFDDD5;
}
.redSet:hover .col5{
  background-color: #FFF0EF;
}

.orangeSet .col1{
  background-color: #FFEFD1;
}
.orangeSet .col2{
  background-color: #EFD3AC;
}
.orangeSet .col3{
  background-color: #D5A677;
}
.orangeSet .col4{
  background-color: #DB7B1D;
}
.orangeSet .col5{
  background-color: #DB5816;
}


.orangeSet:hover .col1{
  background-color: #DB5816;
}
.orangeSet:hover .col2{
  background-color: #DB7B1D;
}
.orangeSet:hover .col3{
  background-color: #D5A677;
}
.orangeSet:hover .col4{
  background-color: #EFD3AC;
}
.orangeSet:hover .col5{
  background-color: #FFEFD1;
}

.greySet .col1{
  background-color: #F2F2F2;
}
.greySet .col2{
  background-color: #929292;
}
.greySet .col3{
  background-color: #616161;
}
.greySet .col4{
  background-color: #313131;
}
.greySet .col5{
  background-color: #000000;
}


.greySet:hover .col1{
  background-color: #000000;
}
.greySet:hover .col2{
  background-color: #313131;
}
.greySet:hover .col3{
  background-color: #616161;
}
.greySet:hover .col4{
  background-color: #929292;
}
.greySet:hover .col5{
  background-color: #F2F2F2;
}

.darkLight{
  display: flex;
  justify-content: center;
  align-items: center;
  width:50px;
}
.dark{
  background-color: var(--accentCol);
  width:25px;
  height: 50px;
}
.light{
  background-color: var(--secondaryBG);
  width:25px;
  height: 50px;
}
.darkLight:hover .dark{
  background-color: var(--secondaryBG);
}
.darkLight:hover .light{
  background-color: var(--accentCol);
}

/********* OWN COLOURS *********/
.pickerModal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.miniColPicker{
  height:47px;
  width:50px;
}
.modalOpener{
  display: flex;
  flex-direction: row;
}
.button, .colorDiv{
  width: 150px;
  height: 400px;
}
/********* NAVBAR *********/
.NavbarMain{
    height: 12vh;
}
.Navbar{
    display: flex;
    flex-direction: column;
    height: 8vh;
    background-color: var(--secondaryBG);
    position: absolute;
    width: 100vw;
    padding-left: 50px;
}
.firstNav{
  display:flex;
  flex-direction: row;
  padding-top: 1.5vh;
  justify-content: space-evenly;
}
.navLeft, .navRight{
  display: flex;
  margin-left: 3vw;
  margin-right: 3vw;
}
.logoStill{
  width: 55px;
  height: 55px;
  display: flex;
  align-self: center;
  margin-left: -13px;
  margin-top: -7px;
  opacity:0;
  animation: logoFadeIn 4s;
  animation-delay: 12s;
  animation-fill-mode: forwards;
}
.portfolioOptions{
  width: fit-content;
  margin-left: 68vw;
  background-color: var(--secondaryBG);
  margin-top:-10px;
}
.page{
    margin: 15px;
    margin-top: 12px;
    font-size: 2.3vw;
    font-family: 'League Spartan', sans-serif;
    font-weight: 800;
    text-decoration: none;
    color: var(--infoCol)
}
.current{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;  
    font-size: 3vw;
    font-family: 'League Spartan', sans-serif;
    font-weight: 800;
    text-decoration: none;
    color: var(--accentCol);
}
.page:hover, .current:hover{
    color: var(--accentCol);    
}

/********* INTRO *********/
.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.introAnimation{
  margin-top: -40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:relative;
}
.logoImg{
  margin-top: -20vh;
  display:flex;
  align-self: center;
  justify-self: center;
  transform: scale(0.5);
  animation: shrinkRelocate 6s, fadeout 2s;
  animation-delay: 8s, 15s;
  animation-fill-mode: forwards;
}
.introText{
    margin-top: -15vh;
    animation: fadeout 4s;
    animation-delay: 14s;
    animation-fill-mode: forwards;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: relocate 5s;
    animation-delay: 8s;
}
.brought{
    animation: fadein 10s;
    margin-top: -6.5vh;
    font-family: 'League Spartan', sans-serif;
    font-weight: 900;
    font-size: 4vw;
    display:flex;
}
.njcodes{
    display: flex;
    animation: fadein 10s;
    animation-delay: 5s;
    opacity: 0;
    animation-fill-mode: forwards;
    font-family: 'League Spartan', sans-serif;
    font-weight: 900;
    font-size: 5.5vw;
    margin-top: -5vh;
}
@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
  }
  @keyframes logoFadeIn{
    0% { opacity:0 }
    75% { opacity:0 }
    100% { opacity:1 }
  }
@keyframes shrinkRelocate{
  0% {  transform: translateY(0) scale(0.5); }
  100% {  transform: translateY(-50vh)  scale(0.1); }
}
@keyframes counterShrink{
  0% { transform: translateY(0) }
  100% { transform: translateY(50vh) }
}
@keyframes relocate{
  0% {  transform: translateY(0); }
  100% {  transform: translateY(-65vh); }
}
@keyframes fadeout {
  from {opacity: 1}
  to {opacity: 0}
}
  
/********* FOOTER *********/
.mainFooterDiv{
    display: flex;
    flex-direction: column;
    width: 100vw;
    color: var(--infoCol);
    position:fixed;
    bottom: 0;
    z-index: 99;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    margin-top: 100vh;
    background-color: var(--secondaryBG);
}
.mainFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: flex-end;
    align-items: center;
}
.mainFooterImgDiv{
    margin: 20px;
}
.mainFooterLogo{
    width:80px;
    height: 80px;
    margin-bottom: -20px;
}
.mainFooterText{
    font-size: 1.5vw;
    font-family: 'Raleway', sans-serif;
    font-weight:700;
    line-height: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--infoCol);
}
.github{
    text-decoration: none;
    color: var(--infoCol);
}
.github:hover{
    text-decoration: none;  
    color: var(--accentCol);
}

@media screen and (max-width: 600px){
  .mainFooterText{ font-size: 10px; line-height: 4px; white-space: nowrap; }
  .mainFooterLogo{ width: 65px; height: 65px; }
}
@media screen and (max-width: 480px){
  .logoImg{ width: 500px; height:500px; margin-top:0; }
  .introAnimation{ margin-top:0; }
  .brought{ margin-top:5vh; }
  .njcodes{ margin-top:0; }
  .introText{ animation: none; }
  .page{ margin-left:10px; margin-top:16.5px; font-size: 3.3vw; }
  .current{ margin:10px; margin-top: 15px; font-size: 4vw; }
  .navLeft, .navRight{ margin-left:-40px; margin-right: -10px;}
  /* .navBar{ height: ## } */
  .colourPicker{ display: none; }
  .cPList{ display:flex; flex-direction: column; align-items: center; justify-content: space-evenly; justify-self:center; }
}
@media screen and (min-width: 481px) and (max-width: 768px){
  .logoImg{ width: 500px; height:500px; margin-top:0; }
  .introAnimation{ margin-top:-20vh; }
  .brought{ margin-top:-3.5vh; }
  .njcodes{ margin-top:-1.5vh; }
  .introText{ animation: none; }
  /* .page{ margin-left:5px; } */
  /* .current{ margin-left:5px; } */
  /* .navBar{ height: ## } */
  .colourPicker{ display: flex; }
  .cPList{ display:none; }
}
@media screen and (min-width: 769px){
  .logoImg{ width: 1000px; height:1000px; margin-top:-20vh; }
  .introAnimation{ margin-top:-40vh; }
  .brought{ margin-top:-6.5vh; }
  .njcodes{ margin-top:-5vh; }
  /* .page{ margin-left:5px; } */
  /* .current{ margin-left:5px; } */
  /* .navBar{ height: ## } */
  .colourPicker{ display: flex; }
  .cPList{ display:none; }
}