/********* INTRO *********/
.intro{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index:9999;
}
.logoAnimation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.logoImg{
  margin-top: 25vh;
  width: 800px;
  height: 800px;
  display:flex;
  align-self: center;
  justify-self: center;
  transform: scale(0.5);
  animation: shrinkRelocate 6s, fadeout 2s;
  animation-delay: 12s, 15s;
  animation-fill-mode: forwards;
  z-index: 9999;
  position: relative;
}
.introText{
  margin-top: -15vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: relocate 5s, fadeout 4s;
  animation-delay: 12s, 14s;
  animation-fill-mode: forwards;
}
.brought{
    animation: fadein 10s;
    margin-top: -6.5vh;
    font-family: 'League Spartan', sans-serif;
    font-weight: 900;
    font-size: 4vw;
    display:flex;
}
.njcodes{
    display: flex;
    animation: fadein 10s;
    animation-delay: 5s;
    opacity: 0;
    animation-fill-mode: forwards;
    font-family: 'League Spartan', sans-serif;
    font-weight: 900;
    font-size: 5.5vw;
    margin-top: -5vh;
}
/********* PORTFOLIO *********/
.portfolioOptions{
  width: fit-content;
  margin-left: 68vw;
  background-color: var(--secondaryBG);
  margin-top:-10px;
}
/******** RAINBOW *********/
.rainbow{
  display: flex;
  width: 14vw;
  height:6vh;
  padding:1.5vw;
  font-size: 1.5vw;
  font-weight: 300;
  align-self: center;
  justify-self: center;
}
@keyframes fadein {
    from {opacity: 0}
    to {opacity: 1}
  }
  @keyframes logoFadeIn{
    0% { opacity:0 }
    75% { opacity:0 }
    100% { opacity:1 }
  }
@keyframes shrinkRelocate{
  0% {  transform: translateY(0) scale(0.5); }
  100% {  transform: translateY(-48vh)  scale(0.1); }
}
@keyframes counterShrink{
  0% { transform: translateY(0) }
  100% { transform: translateY(50vh) }
}
@keyframes relocate{
  0% {  transform: translateY(0); }
  100% {  transform: translateY(-65vh); }
}
@keyframes fadeout {
  from {opacity: 1}
  to {opacity: 0}
}
  
@media screen and (max-width: 480px){
  .logoImg{ width: 500px; height:500px; margin-top:0; }
  .introAnimation{ margin-top:0; }
  .brought{ margin-top:5vh; }
  .njcodes{ margin-top:0; }
  .introText{ animation: none; }
}
@media screen and (min-width: 481px) and (max-width: 768px){
  .logoImg{ width: 500px; height:500px; margin-top:0; }
  .introAnimation{ margin-top:-20vh; }
  .brought{ margin-top:-3.5vh; }
  .njcodes{ margin-top:-1.5vh; }
  .introText{ animation: none; }
}
@media screen and (min-width: 769px){
  .logoImg{ width: 1000px; height:1000px; margin-top:-20vh; }
  .introAnimation{ margin-top:-40vh; }
  .brought{ margin-top:-6.5vh; }
  .njcodes{ margin-top:-5vh; }
}

 