.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  background-color: var(--secondaryBG);
}
.appNavBar{
  background-color: var(--secondaryBG);
  display:flex;
  width: 100%;
}
.appOutlet{
  background-color: var(--mainBG);
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}
/* .appIntro{
  background-color: var(--mainBG);
  display:flex;
} */
.appLogo{
  position:fixed;
  z-index: 9999;
}