.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  background-color: var(--secondaryBG);
}
.appNavBar{
  background-color: var(--secondaryBG);
  display:flex;
  width: 100%;
}
.appOutlet{
  background-color: var(--mainBG);
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 200px;
}
/* .appIntro{
  background-color: var(--mainBG);
  display:flex;
} */
.appLogo{
  position:fixed;
  z-index: 9999;
}

@media screen and (max-width: 1100px){
  .appOutlet{ margin-top: 120px }
  .appNavBar{ max-height: 200px}
}

@media screen and (max-width: 720px){
  .appOutlet{ margin-top: 100px }
  .appNavBar{ max-height: 150px}
}

@media screen and (max-width: 450px){
  .appOutlet{ margin-top: 80px }
  .appNavBar{ max-height: 100px}
}