body{
    background-color: darkslategray;
}

/*--------NAV----------*/
#main_nav {
    display: none;
    top: 0;
    left: 0;
    position:sticky;
    background: none;
}

#main_nav:target {
    display: inherit;
    position: absolute;
    background: none;
    z-index: 4;
    width: auto;
}

.access_aid {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 0;
    padding-top: 40px;
    background: black 10px 10px / 20px 20px no-repeat;
    z-index: 1;
}

#access_nav {
    background-color: #000;
    background-image: repeating-linear-gradient(#fff, #fff 0.5px, #fff 0.5px, #000 5px);
}

#access_top {
    background-image: linear-gradient(45deg, transparent 12.5px, #fff 12px, #fff 15px, transparent 0), linear-gradient(-45deg, transparent 12.5px, #fff 12px, #fff 15px, black 0);
    z-index: 2;
}
ul{
    background-color: black;
    padding: 20px;
    padding-top: -50px;
    text-align: right;
    width: 170px;
}
li{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
li:hover{
    font-size: 18px;
    font-weight: bolder;
}
.li:active{
    font-weight: bolder;
    background-color: white;
    /* background-color: #1a3e13; */
}
.nav{
    background: none;
    text-decoration: none;
    color: green;
}
.nav:hover{
    color: white;
}
#main_nav a.active{
    font-weight: bolder;
    color: white;
    text-decoration: none;
    
}
#main_nav a.active:hover{
    font-weight: bolder;
    color: green;
    text-decoration: none;
}

/*--------NAV END----------*/

